/*
 * # Imports
 */
@import '../../style/foundation/ampersand.scss';
@import '../../style/foundation/mediaqueries.scss';

.IvanaAndKay {
	font-size: 70px;
	line-height: .9;
	text-align: center;
}

.infoSection {
	margin: 90px 0;
}