/*
 * # Imports
 */
@import '../../style/foundation/frame.scss';
@import '../../style/foundation/ampersand.scss';
@import '../../style/foundation/mediaqueries.scss';

.IvanaAndKay {
	font-size: 70px;
	line-height: .9;
	text-align: center;
}

.frame {
    @include frame;
}

.frameBody {
	background: var(--color-white);
	padding: 16px;
	position: relative;
	width: 100%;
	z-index: 3;
}

.infoSection {
	margin: 90px 0;
}