/*
 * # Imports
 */
@import '../../style/foundation/frame.scss';
@import '../../style/foundation/mediaqueries.scss';

/*
 * # General page wrapper
 */
.pageWrapper {
    padding: 32px;
}


.IvanaAndKay {
	font-size: 70px;
	line-height: .9;
	text-align: center;
}

/*
 * ## Ampersand
 */
.ampersand {
	color: var(--color-blue);
	display: block;
	font-size: 40px;
	position: relative;
}

.ampersandArrowLeft,
.ampersandArrowRight {
	position: relative;
}

.ampersandArrowLeft::before,
.ampersandArrowLeft::after,
.ampersandArrowRight::before,
.ampersandArrowRight::after {
	content: '';
	display: block;
	height: 0;
	position: absolute;
	top: 50%;
	width: 0;
}

.ampersandArrowLeft::before,
.ampersandArrowRight::before {
	border-bottom: 2px solid transparent;
	border-right: 6px solid var(--color-blue);
	border-top: 2px solid transparent;
	left: 8px;
}

.ampersandArrowLeft::before {
	border-right: 0;
	border-left: 6px solid var(--color-blue);
	left: auto;
	right: 8px;
}

.ampersandArrowLeft::after,
.ampersandArrowRight::after {
	border-bottom: 2px solid transparent;
	border-left: 270px solid var(--color-blue);
	border-top: 2px solid transparent;
	left: 14px;
}

.ampersandArrowLeft::after {
	border-left: 0;
	left: auto;
	right: 14px;

	@include respond-to-min($screen-medium) {
		border-right: 270px solid var(--color-blue);
	}
}

.frame {
    @include frame;
}

.frameBody {
	background: var(--color-white);
	padding: 16px;
	position: relative;
	width: 100%;
	z-index: 3;
}