.translation {
	background: var(--color-green);
	color: var(--color-white);
	padding: 0;
	position: relative;
	width: 100%;
}

.translationList {
	background-color: var(--color-white);
	box-shadow: 0 0 5px rgb(0 0 0 / 50%);
	margin: 0;
}