@import '../../style/foundation/mediaqueries.scss';
@import '../../style/foundation/utilityGebimsel.scss';

@mixin iconFlag {
	background-size: 24px auto;
}

.translationWrapper {
	margin-right: 16px;
	position: relative;
	width: 100%;
	z-index: 3;

	@include respond-to-min($screen-medium) {
		margin-top: 12px;
		width: auto;
	}
}

.translation {
	color: var(--color-white);
	padding: 0;
	position: relative;

	@include respond-to-min($screen-medium) {
		margin: 18px 0 0;
		width: auto;
	}
}

.toggleTransList {
	background: transparent;
	border: 0;
	color: var(--color-white);
	font-size: 16px;
	padding: 16px 0;
	position: relative;
	text-shadow: var(--text-shadow-dark);
	text-align: left;

	&:hover {
		cursor: pointer;
	}
}

.arrowTip {
	display: inline-block;
	border-top: 8px solid var(--color-white);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	height: 0;
	margin-left: 42px;
	width: 0;
}

.translationListWrapper {
	position: absolute;
	top: 50px;
	z-index: 5;
}

.translationList {
	background: var(--color-white);
	border-radius: 8px;
	box-shadow: var(--box-shadow-andere);
	left: 0;
	margin: 0;
	padding: 16px 16px 24px;
	position: absolute;
	top: 0;

	&::before,
	&::after {
		content: "";
		border-left: 12px solid transparent;
		border-bottom: 14px solid var(--color-white);
		border-right: 12px solid transparent;
		display: block;
		height: 0;
		position: absolute;
		left: 28px;
		top: -12px;
		width: 0;
		z-index: 2;
	}
	
	&::after {
		border-bottom: 14px solid #0e7d3f;
		top: -12px;
		z-index: 1;
	}
}

.listItem {
	margin: 0 0 16px;	
}

:global(.icon-en),
:global(.icon-sr),
:global(.icon-de) {
	@include iconFlag;
	background: transparent right 24px top 16px/21px auto no-repeat url("../../assets/images/flag-gb.svg");

	.translationListWrapper & {
		background-position: right top 3px;
		padding-right: 30px;
	}
}

:global(.icon-de) {
	background-image: url("../../assets/images/flag-de.svg");
}

:global(.icon-sr) {
	background-image: url("../../assets/images/flag-rs.svg");
}

.buttonChoice {
	@include buttonStyle;
	margin-bottom: 24px;
	width: 160px;

	.listItem:last-of-type & {
		margin-bottom: 0;
	}
}
