@import './foundation/mediaqueries.scss';
@import './foundation/ampersand.scss';
@import './foundation/frame.scss';
@import './foundation/textImagePair.scss';
@import './foundation/utilityGebimsel.scss';

/*
 * # Webfont
 */
 @font-face {
    font-family: 'calmiusextra_bold_italic';
    src: url('nrey_-_calmius-extrabolditalic-webfont.woff2') format('woff2'),
         url('nrey_-_calmius-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
	--color-cadmium-green: #046029;
	--color-green: #019141;
	--color-green-pantone: #09ad4b;
	--color-white: #fff;
	--color-black: #000;
	--color-blue: #0e468a;
	--color-blue-100: #70ccfa;	
	--color-blue-200: #d9feff;
	--color-gray: #777;
	--color-gray-100: #ccc;

	--text-shadow-dark: 0 -1px 0 #003317;
	--text-shadow-bright: 0 0 2px rgb(255, 254, 204);

	--box-shadow-inset: inset 0 8px 2px -7px rgba(0,0,0,.35);
}

/*
 * # Element selectors
 */
html, body {
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: rgb(184,231,251);
	background: linear-gradient(0deg, rgba(238,255,255,1) 0%, rgba(63,171,225,1) 100%);
	background-attachment: fixed;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--color-green);
	font-family: calmiusextra_bold_italic, Garamond, Times, "Times New Roman", serif;
}

h1 {
	font-size: 60px;
	line-height: 1;
	margin: 50px 0;
}

h2 {
	font-size: 40px;
	line-height: 1.25;
	margin: 40px 0;
}

h3 {
	font-size: 30px;
	line-height: 1.25;
	margin: 20px 0;
}

h4 {
	font-size: 24px;
	margin: 20px 0;
	line-height: 1;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin: 24px 0;
}

a {
	color: var(--color-blue);
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
	margin-bottom: 24px;
	padding: 0;
}

iframe {
	max-width: calc(100%);
}

#app {
	background-color: var(--color-white);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	max-width: $screen-medium;
	min-height: 100%;
	position: relative;
}

/*
 * # General page wrapper
 */
.pageWrapper {
    padding: 16px;

	@include respond-to-min($screen-phablet) {
		padding: 32px;
	}
}

.row {
	margin-bottom: 15px;
}