@import './foundation/mediaqueries.scss';
@import './foundation/ampersand.scss';
@import './foundation/frame.scss';
@import './foundation/textImagePair.scss';
@import './foundation/utilityGebimsel.scss';

/*
 * # Webfont
 */
 @font-face {
    font-family: 'calmiusextra_bold_italic';
    src: url('NREY---Calmius-ExtraBoldItalic.woff2') format('woff2'),
         url('NREY---Calmius-ExtraBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
	--color-green-forest: #023b19;
	--color-green-cadmium: #046029;
	--color-green: #019141;
	--color-green-pantone: #09ad4b;
	--color-green-kelly: #47c409;
	--color-yellow-pear: #E0F02F;
	--color-yellow-lime: #F4FD8D;
	--color-yellow-lemon-creola: #F9FFB6;
	--color-yellow-cream: #FAFFC5;
	
	--color-white: #fff;
	--color-black: #000;
	
	--color-blue: #0e468a;
	--color-carolina-blue: #44AAE0;
	--color-blue-100: #70ccfa;	
	--color-blue-200: #d9feff;
	
	--color-gray-xanadu: #5F7470;
	--color-gray-spanish: #889696;
	--color-gray-ash: #B8BDB5;
	--color-gray-alabaster: #E0E2DB;
	--color-gray-baby-powder: #F5F7F1;

	--color-red-venetian: #C41C1C;

	--text-shadow-dark: 0 -1px 0 #003317;
	--text-shadow-bright: 0 0 2px rgb(255, 254, 204);

	--box-shadow: 0px 4px 4px -4px #000;
	--box-shadow-andere: 0px 4px 8px -3px #000;
	--box-shadow-inset: inset 0 8px 2px -7px rgba(0,0,0,.35);
}

/*
 * # Element selectors
 */
html, body {
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: rgb(184,231,251);
	background: linear-gradient(0deg, rgba(238,255,255,1) 0%, rgba(63,171,225,1) 100%);
	background-attachment: fixed;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--color-green);
	font-family: calmiusextra_bold_italic, Garamond, Times, "Times New Roman", serif;
}

h1 {
	font-size: 40px;
	hyphens: auto;
	line-height: 1;
	margin: 50px 0;

	@include respond-to-min($screen-medium) {
		font-size: 60px;
	}
}

h2 {
	font-size: 30px;
	line-height: 1.25;
	margin: 40px 0;

	@include respond-to-min($screen-medium) {
		font-size: 40px;
	}
}

h3 {
	font-size: 24px;
	line-height: 1.25;
	margin: 20px 0;

	@include respond-to-min($screen-medium) {
		font-size: 30px;
	}
}

h4 {
	font-size: 18px;
	margin: 20px 0;
	line-height: 1;

	@include respond-to-min($screen-medium) {
		font-size: 24px;
	}
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin: 24px 0;
}


a {
	color: var(--color-blue);
}

a:hover {
	text-decoration: none;
}

ul {
	margin: 0 0 24px 24px;
	padding: 0;
}

.noBullets {
	list-style: none;
	margin-left: 0;
}

li {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 12px;
}

iframe {
	max-width: calc(100%);
}

#app {
	background-color: var(--color-white);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	max-width: $screen-medium;
	min-height: 100%;
	position: relative;
}

/*
 * # General page wrapper
 */
.pageWrapper {
    padding: 16px;

	@include respond-to-min($screen-phablet) {
		padding: 32px;
	}
}

/*
 * # Form elements
 */
.label {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
	color: var(--color-blue);
	margin-bottom: 12px;
	white-space: nowrap;
}

.answeredField {
	border-bottom: 1px dashed var(--color-gray-xanadu);
	color: var(--color-gray-xanadu);
	font-style: italic;
	margin: 0 0 48px;
	min-height: 36px;
}

.inputText {
	background: linear-gradient(to bottom, var(--color-yellow-cream) 0%,var(--color-yellow-lime) 100%);
	border-bottom: 2px solid var(--color-white);
	border-left: 2px solid var(--color-white);
	border-right: 2px solid var(--color-white);
	border-top: 0;
	border-radius: 16px;
	box-shadow: inset 0 1px 3px 2px rgba(0, 0, 0, 0.3);
	color: var(--color-gray-xanadu);
	font-size: 24px;
	margin: 0 0 32px;
	padding: 16px;
	width: 100%;
}

/*
 * ## Checkbox switches
 */
.inputCheckbox {
	margin-right: 16px;
	@include visuallyhidden;

	&:checked {
		+ .pinoeppel {
			border-color: var(--color-green-pantone);

			&::before {
				background-color: var(--color-green-pantone);
			}
			
			&::after {
				color: var(--color-green-kelly);
				background-color: var(--color-green-kelly);
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), inset 0 0 0 2px var(--color-green-kelly);
				margin-left: 32px;
				opacity: 1;
				transform: rotate(0deg);
			}
		}
	}	
		
	& + .pinoeppel {
		background: var(--color-white);
		border: 2px solid var(--color-red-venetian);
		border-radius: 80px;
		box-shadow: 0 0.25em 0 0 rgba(9, 173, 75, 0.5);
		display: block;
		position: relative;
		cursor: pointer;
		margin: -2px 0 32px 16px;
		outline: none;
		padding: 2px 5px;
		width: 64px;
		height: 32px;
		user-select: none;
	
		&::before,
		&::after {
			content: "";
			bottom: 2px;
			display: block;
			left: 0;
			position: absolute;
			top: 2px;
		}
	
		&::before {
			background: var(--color-gray-alabaster);
			border-radius: 75px;
			left: 2px;
			transition: 0.4s;
			right: 2px;
		}

		&::after {
			width: 32px;
			height: 32px;
			background: var(--color-red-venetian) url(../assets/icons/thumb.svg) center 5px no-repeat;
			background-size: 19px 19px;
			transform: rotate(180deg);
			border-radius: 100%;
			transition: 0.4s;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23), inset 0 0 0 2px var(--color-red-venetian);
			opacity: 1;
			top: -2px;
			left: -2px;
		}	
	}
}


/*
 * ## form layout
 */
.labelWrapperInline {
	display: inline-flex;
	flex-wrap: wrap;

	.inputCheckbox {
		margin: 0 0 32px 12px;
	}
}

/*
 * # Layout
 */
.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*
 * # Boxes
 */
.box {
	position: relative;
	margin-bottom: 16px;
	
	&::before,
	&::after {
		background: var(--color-gray-xanadu);
		bottom: 15px;
		box-shadow: 0 15px 10px var(--color-gray-xanadu);
		content: '';
		height: 18px;
		max-width: 300px;
		position: absolute;
		width: 50%;
		z-index: 1;
	}
	
	&::before {
		left: 10px;
		transform: rotate(-3deg);
	}
	
	&::after {
		left: auto;
		right: 10px;
		transform: rotate(3deg);
	}

	.boxBody {
		background: var(--color-gray-baby-powder);
		border-radius: 8px;
		box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
		margin-bottom: 96px;
		padding: 32px;
		position: relative;
		z-index: 2;
	}

	&:last-of-type {
		.boxBody {
			margin-bottom: 24px;
		}
	}
}

/*
 * # Buttons
 */
 .buttonChoice {
	 @include buttonStyle;
	 margin-bottom: 64px;
 }